.home-button-container {
    max-width: 900px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    padding: 24px;
    gap: 24px;
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
    width: 100%;
    align-items: center;
    align-self: center;
}

.home-button {
    flex: 1;
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background: linear-gradient(135deg, #4c669f, #3b5998, #192f6a);
    border-radius: 16px;
    flex-wrap: wrap;
    text-decoration: none;
    gap: 16px;
    align-items: center;
}

.home-button img {
    height: 80px;
    width: 80px;
}

.home-button h4 {
    align-self: center;
    font-size: 24px;
    color: white;
}


@media screen and (max-width:767px) {
    .home-button-container {
        width: 100%;
        flex-direction: column;
        gap: 16px;
        padding: 16px;
        flex-wrap: wrap;
        height: 500px;
    }

    .home-button {
        height: 400px;
    }

    .container-wrapper {
        padding: 16px;
    }
}